#page
{
    position: relative;
    width: 100%;
}

/* ASMAA  */

#ASMAA
{
    position: relative;
    width: 100%;


}

.city_map_message
{
    position: absolute;
    bottom: 27%;
    left: 16%;
   
}

.container
{
    width: 80%;
    margin: auto;
   
}
.clear
{
    clear: both;
}
.slider
{
      background-image: url(background.svg);
    background-size: cover;

  height: 1000px;
}
.slider .icon 
{
    float: left;
    width: 3%;

}
.slider .icon img
{
    max-width: 100%;
    margin-top: 22px;
}

.nav h1
{
    width:50%;
    float: left;
    color: white;

}
.nav
{
    overflow: hidden;
}

 .nav ul 
 {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
    
}
.nav ul li
{
    float: left;
    padding: 10px;
        color: white;

}
    .nav ul li a
    {
color :#fff;
    text-decoration: none;
}

.header
{
    overflow: hidden;
}
.text
{
    float: left;
}
.text h1 
{
    margin-top: 225px;    color: white;
font-size: 45px;
    font-weight: bolder;
        font-family: sans-serif;
    
    
font-size: 50px;
line-height: 61px;

color: #FFFFFF;



}
/* Ellipse 3 */



.text p {
    margin-top: 40px;
    width:600px;
    line-height:25px;
    font-size: 16px;
    font-family: sans-serif;
    color: #B7E6FF;
}
.text input{
    
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 15px;
    border-radius: 20px;
font-family: Cabin;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 23px;
color: #BDD3DF;


    margin-top: 58px;
    border: 0;
}
.header .picture {
    float: right;
   width: 400px;
    margin-top: 130px;
    margin-right: 150px;
    
}

.second .one{
   font-size: 50px;
line-height: 61px;
text-align: center;
color: #4F79A4;
font-weight: bold
    ;
    margin-bottom: 0;
 
}

.second .two{
    text-align: center;
    font-size: 61px;
    color: #4F79A4;
margin-top: 0;
}
/* 1 */


.second .phone{
transform: rotate(-3.07deg);
background-repeat: no-repeat;
    text-align: center;
}
.last{
    overflow: hidden;
    position: relative;
}
.last .no{
    

    float: left;
    margin-top: 200px;
}


.last .icon {
    float: left;
    width: 3%;
       margin-top: 200px;


}
.last .icon img{
    max-width: 100%;
    margin-top: 22px;


}

.last h1{
   margin-top: 200px;
    float: right;
position: absolute;
left: 23%;
right: 15%;
top: 7%;
font-weight: 600;
font-size: 13px;
line-height: 21px;



}
.last h1 a {
    text-decoration: none;
    color: #A5ADB1;

}






/* OMAR  */



#OMAR
{
    position: relative;
    
    top: 100px;
    width: 100%;


}
/*   
#bag_people
{
    position: absolute;
    left: 100px;
    top: -70px;


}


#city_App
{
    position: absolute;
    left: 200px;
    top: -10px;


}

#plant3
{
    position: absolute;
    left: 80px;
    top: 150px;

}
*/


.first_paragraph
{
    position: absolute;
    
    top: 300px;
    bottom: 100px;
    left: 150px;
   

}





.atm_man
{
    position: absolute;
 
    top: 400px;
    bottom: 30px;
    left: 600px;

}



.glowin_point2
{
    position: absolute;
    
    top: 505px;
    bottom: 30px;
    left: 1075px;


}


.P_H2
{
    position: absolute;
   
    top: 180px;
    bottom: 300px;
    left: 20px;
    width: 300px;
    color: #4F79A4;
     font-size: 28px;
     line-height: 34.3px;
     font-weight: 5;
     font-family: 'Gilroy-Light', sans-serif;
    

}


.paragraph
{
    position: absolute;
    
    top: 230px;
    bottom: 300px;
    left: 20px;
    width: 400px;
    font-family: 'Cabin', sans-serif;
    
    color: #A5ADB1;


}

.P_H1
{
    font-weight: 1100;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    
    top: 140px;
    bottom: 30px;
    left: 20px;
    width: 300px;
    font-family: 'Gilroy', sans-serif;
    
    

    color: #4F79A4;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.001em;
    text-align: left;


}


.heart_beat
{
    position: absolute;
   
    top: 1100px;
    bottom: 900px;
    left: 300px;
}

.H-B1
{
    position: absolute;
    
    top: 1260px;
    bottom: 900px;
    left: 635px;


}

.H-B2
{
    position: absolute;
    
    top: 1220px;
    bottom: 900px;
    left: 637px;


}

.glowin_point1
{
    position: absolute;
    
    top: 1220px;
    bottom: 900px;
    left: 60px;


}


.second_paragraph
{
    position: absolute;
    
    top: 1030px;
    bottom: 10px;
    left: 750px;
   

}

#arrow
{
    position: absolute;


top: 1740px;
left: 585px;
}

.road
{
    position: absolute;
    
    top: 1px;
    bottom: 900px;

    opacity: 20%;
    
    stop-opacity: initial;


}

.points
{
    position: absolute;
    
    top: 1px;
    bottom: 900px;
    left: 80px;



}


.plant2
{
    position: absolute;
    
    top: 1510px;
    bottom: 900px;
    left: 60px;

}

.plant1
{

    position: absolute;
    
    top: 780px;
    bottom: 30px;
    left: 1100px;


}




/* MEN3EM  */



#men3em
{
    position: relative;
    top: 2000px;
    width: 100%;


}



/* Start Global  */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #B7E6FF;
}

/* End Global  */


/* START APP */

.app {
    display: flex;
    justify-content: center;
    background-image: url('images/app-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
}

.app-vector {
    max-width: 33%;
}
.app-vector img {
    width: 100%;
    max-height: 100%;
}

.app-text {
    width: 30%;
    margin-left: 6%;
    margin-top: 14%;
}

.app-text h2 {
    color: #fff;
    font-size: 3.8em;
}


.app-text button {
    position: relative;
    background-color: rgba(19,241,252,0.2);
    color: #fff;
    font-size: 14px;
    padding: 3% 8%;
    padding-left: 12%;
    line-height: 18px;
    border: rgb(19,241,252) solid 1px;
    border-radius: 22px;
    margin-right: 10px;
    transition: .4 ease-in-out;
}

.app-text button:focus {
    outline: 0;
}

.app-text button:hover {
    background-color: rgba(19,241,252,0.6);
    transition: .4 ease-in-out;
    cursor: pointer;
}

.app-text button img {
    position: absolute;
    width: 16px;
    top: 10px;
    left: 22px;
}


/* START FOOTER */

footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #A5ADB1;
    background-image: url('images/footer-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20%;
    margin-left: -1%;
}

footer .vector-tree, footer .about, footer .list-1 , footer .list-2 , footer .vector-light {
    margin-top: 20%
}

footer .about {
    width: 30%;
}

footer li {
    list-style: none;
}

footer ul {
    margin-top: 44px;
}

footer a {
    color: #A5ADB1;
    text-decoration: none;
}

footer .about .social img {
    padding: 14px 10px;
    border: #A5ADB1 solid 1px;
    border-radius: 50%;
    margin-right: 4px;
}

footer .about .social img:hover {
    border: #13F1FC solid 1px;
    transition: .6s ease;
}

footer .about .social .fb img {
    padding: 12px 13px;
}

footer .copyright {
    position: absolute;
    bottom: 10%;
    left: 50%
}

footer .copyright span {
    color: rgb(19,241,252)
}